<section class="h-100 gradient-form">
  <div class="container py-5 h-100">
    <div class="col-xl-10 mx-5">
      <div class="card rounded-3">
        <h1 class="mx-5 mb-5 text-center">Quem Somos</h1>
        <div class="text-center mx-5 ">
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium labore ipsum delectus. Dolorum odit
            veniam at, quisquam tenetur consequatur aut non, itaque ipsa libero doloribus repudiandae ab esse ullam
            pariatur.
          </p>

        </div>

      </div>
    </div>
  </div>
</section>