footer{
  background: rgb(36,2,64);
  background: linear-gradient(45deg, rgba(36,2,64,1) 0%, rgba(102,5,208,1) 56%, rgba(148,11,187,1) 100%);
  padding: 15px;
}
.logo{
  height: 64px;
  width: 64px;
  padding: 8px;
  cursor: pointer;
}

