<section class="h-100 gradient-form">
  <div class="container py-5 h-100">
    <div class="col-xl-10 mx-5">
      <div class="card rounded-3">
        <h1 class="mx-5 mb-5">Contatos</h1>
        <div class="mx-5 ">
          <ul>
            <li><i class="bi bi-telephone-fill"></i> (34) 9999-9999</li>
            <li><i class="bi bi-telephone-fill"></i> (34) 8888-8888</li>
            <li><i class="bi bi-envelope-at-fill"></i> gemt@mail.com</li>
          </ul>

        </div>

      </div>
    </div>
  </div>
</section>